{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dreamcodeacademy.com</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
</head>
<body>
    
    <header>
      <button class="ddn">  PYTHON DJANGO TUTORIAL</button>
    </header>
    <h4>welcome to my django with python tutorial</h4>
    <form action="submit" method="get">
          <h1><strong><em>Dream code Academy</em></strong></h1>
          <p><strong>Student Information</strong></p>
          <fieldset>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your name" required>
            <label for="id">Student ID</label>
            <input type="password" id="studentsid" name="id" required>
          </fieldset>
            <label for="login"><button class="btn">LOG IN</button></label>
    </form>
    <p>For enrolled students: <br><a href="http://127.0.0.1:8000/base/">click here</p></h5>

    
</body>
</html>


{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}


  
    
    
