.header{
    color: antiquewhite;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}
.p{
    color: blueviolet;
    font-size: 15px;
    font-weight: 400;
}
.body{
    text-align: center;
    text-decoration: none;
    background-color: antiquewhite;
}